In [6]:
%matplotlib inline
from datetime import datetime
import sqlite3, re
import pandas as pd
import matplotlib.pyplot as plt

In [145]:
!head access.log
!wc -l < access.log

[02/Jan/2015:08:07:32] "GET /click?article_id=162&user_id=5475 HTTP/1.1" 200 4352
[02/Jan/2015:08:08:43] "GET /click?article_id=139&user_id=19550 HTTP/1.1" 200 3078
[02/Jan/2015:08:09:01] "GET /click?article_id=87&user_id=9408 HTTP/1.1" 200 2005
[02/Jan/2015:08:09:18] "GET /click?article_id=175&user_id=9408 HTTP/1.1" 200 3467
[02/Jan/2015:08:09:42] "GET /click?article_id=54&user_id=9531 HTTP/1.1" 200 7097
[02/Jan/2015:08:09:51] "GET /click?article_id=25&user_id=14306 HTTP/1.1" 200 2327
[02/Jan/2015:08:10:00] "GET /click?article_id=46&user_id=10739 HTTP/1.1" 200 2509
[02/Jan/2015:08:10:12] "GET /click?article_id=142&user_id=10325 HTTP/1.1" 200 3430
[02/Jan/2015:08:10:23] "GET /click?article_id=25&user_id=104 HTTP/1.1" 200 2327
[02/Jan/2015:08:10:41] "GET /click?article_id=90&user_id=10739 HTTP/1.1" 200 2123
 1770780

In [140]:
conn = sqlite3.connect('contentDiscovery.db')
c = conn.cursor()

# Create table
c.execute('''
            CREATE TABLE clicks (
            click_time DATETIME NOT NULL,
            week_num varchar not null,
            article_id INTEGER NOT NULL,
            user_id INTEGER NOT NULL,
            status INTEGER NOT NULL,
            bsize INTEGER NOT NULL,
            FOREIGN KEY(user_id) REFERENCES users(user_id),
            FOREIGN KEY(article_id) REFERENCES articles(article_id)
         )''')

In [141]:
# get the pattern
p = re.compile('\[(.*)\] "GET /click\?article_id=(\d*)&user_id=(\d*) HTTP/1.1" (\d*) (\d*)')

# read access.log, and insert row in the clicks table
with open('access.log','r') as f:
    for line in f.readlines():
        ts, article, user, status, bsize = p.match(line).groups()
        ts = datetime.strptime(ts, '%d/%b/%Y:%H:%M:%S')
        c.execute("INSERT INTO clicks VALUES ('%s','%d_%02d',%s,%s,%s,%s)" 
                  %(ts.strftime('%Y-%m-%d %H:%M:%S'), ts.year, int(ts.strftime('%W'))+1, article, user, status, bsize))
    conn.commit()

In [139]:
# c.execute('drop table clicks')
c.execute('alter table email_content add column week_num varchar')
c.execute('''update email_content set week_num = 
            substr(send_time,1,4)||'_'||substr('00'||(strftime('%W',send_time)+1),-2,2)''')
conn.commit()

In [5]:
conn.close()

### load and parse click log

In [74]:
# read raw data, no header
clicks = pd.read_csv('access.log',header=None)
# extract fields
pat = '\[(.*)\] "GET /click\?article_id=(\d*)&user_id=(\d*) HTTP/1.1" (\d*) (\d*)'
clicks = clicks[0].str.extract(pat, expand=True)
# name the columns
clicks.columns=['click_time', 'article_id', 'user_id', 'status', 'bsize']
# convert click_time to datetime format
clicks.click_time = clicks.click_time.map(lambda x: datetime.strptime(x, '%d/%b/%Y:%H:%M:%S'))
# get week number (1-based)
clicks['week'] = clicks.click_time.map(lambda x: '%d_%02d' %(x.year, int(x.strftime('%W'))+1))
# convert id's and status columns to int format
clicks.ix[:,1:-1] = clicks.ix[:,1:-1].apply(pd.to_numeric)
# check data types
clicks.dtypes

### load email data

In [143]:
sql1 = '''select max(cnt) from (
select count(*) as cnt, user_id, article_id from email_content group by user_id, article_id)'''

sql2 = '''select count(*) from (
select count(*) as cnt, user_id, article_id from email_content group by user_id, article_id)'''

sql3 = 'select count(*) from clicks'

sql4 = 'select count(*) as cnt, week_num from email_content group by week_num'

sql = 'select count(*) as cnt, week_num from email_content group by week_num'
# sql = 'select count(*) as cnt, type_id from articles group by type_id'
# sql = "select substr(send_time, 1,4)||'_'||(strftime('%W',send_time)+1) as wn from email_content limit 10"
sql = 'select count(*) as cnt, status from clicks group by status'

pd.read_sql_query(sql3, conn)

   count(*)
0   1770781